@font-face {
  font-family: "Cocomat-Regular";
  src: url("../../fonts/CocomatPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cocomat-Bold";
  src: url("../../fonts/CocomatPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSauce-Regular";
  src: url("../../fonts/OpenSauceSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "OpenSauce-Light";
  src: url("../../fonts/OpenSauceSans-Light.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Cocomat-Regular", sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  /* 1rem = 16px */
}
a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
h1 {
  font-family: "Cocomat-Bold", sans-serif;
}
p {
  font-family: "OpenSauce-Light", sans-serif;
}
.cocomat-bold {
  font-family: "Cocomat-Bold", sans-serif;
}
.open-sans {
  font-family: "OpenSauce-Regular", sans-serif;
}

body {
  color: white;
  background: linear-gradient(
    179.4deg,
    rgb(12, 20, 69) -16.9%,
    rgb(71, 30, 84) 119.9%
  );
  width: 100%;
  /* height: 100vh; */

  & .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
  }
}

section {
  width: 100%;

  & .custom-select option {
    background: transparent;
    color: #000; /* Adjust text color for dropdown items */
  }
  & .btn {
    font-family: "Cocomat-Bold", sans-serif;
  }
}
